.shop {
	background-color: var(--violeta);
	width: 100vw;
	height: 100px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.shop--title {
	display: none;
}

.shop--input {
	/* margin: auto; */
	display: flex;
	justify-content: center;
}

.shop--input__search {
	font-size: 1rem;
	color: var(--violeta);
	border-radius: 5px;
	background-color: var(--rosa);
	border: none;
	box-shadow: 0 0 10px var(--azul);
	padding: 10px;
	outline: 1px solid var(--violeta);
	width: 200px;
}

::placeholder {
	color: var(--violeta);
}

.shop--input__button {
	font-size: 0.9rem;
	margin: 0 10px 0;
	width: 80px;
	background-color: var(--gris);
	color: var(--azul);
	border: none;
	border-radius: 10px;
	padding: 10px;
	box-shadow: 0 0 10px var(--azul);
}

.shop--input__button:hover {
	background-color: var(--violeta);
	color: var(--gris);
	cursor: pointer;
	box-shadow: 0 0 10px var(--rosa);
}
