.presentation {
	width: 90vw;
	/* height: 90vh; */
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	margin-top: 50px;
	position: relative;
}

.presentation--slogan {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	/* height: 250px; */
}

.presentation--title {
	font-family: var(--cursiva);
	color: var(--violeta);
	text-shadow: 0 0 10px var(--gris);
	font-size: 3rem;
	text-align: center;
}

.presentation--parrafo {
	font-family: var(--angosta);
	font-size: 2rem;
	text-align: center;
}

.presentation--button {
	font-size: 1rem;
	font-family: var(--angosta);
	margin-top: 20px;
	width: 150px;
	background-color: var(--gris);
	color: var(--azul);
	border: none;
	border-radius: 10px;
	padding: 10px;
	box-shadow: 0 0 10px var(--azul);
}

.presentation--button:hover {
	background-color: var(--violeta);
	color: var(--gris);
	cursor: pointer;
	box-shadow: 0 0 10px var(--violeta);
}

.presentation--images__background {
	display: none;
	
}

.presentation--images__mini {
	margin-top: 50px;
	border-radius: 50%;
	width: 80vw;
	max-width: 400px;
	box-shadow: 0 0 10px var(--azul);
	outline: 1px solid var(--azul);
}

@media only screen and (min-width: 900px) {
	.presentation {
		flex-direction: row;
		justify-content: space-around;
	}

	.presentation--title {
		font-size: 3rem;
	}

	.presentation--images__background {
		display: block;
		width: 30vw;
		height: 30vw;
		margin-left: 50px;
	}

	.presentation--images__mini {
		max-width: 150px;
		position: absolute;
		top: 200px;
	}
}

@media only screen and (min-width: 1200px) {
	.presentation--title {
		font-size: 6rem;
	}

	.presentation--images__background {
		min-width: 30vw;
		
	}

	.presentation--images__mini {
		/* width: 20vw; */
		margin-top: 20vh;
		margin-left: -3vw;
		min-width: 15vw;
	}

	.presentation--button {
		width: 250px;
	}
}
