.promo {
	width: 90vw;
	margin: 50px auto;
	border-radius: 10px;
	background-image: url("../../assets/marde_fondo_mar_luz.webp");
	background-position: 50%;
	background-size: cover;
	background-attachment: fixed;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.promo--image {
	margin: 30px;
	display: flex;
	flex-direction: column;
	align-items: start;
	position: relative;
	place-content: end;
	
}

.promo--image::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background-color: var(--celesteOpacity);
	; /* Color del filtro (puedes ajustar el valor alfa para hacerlo más o menos transparente) */
	z-index: 1;
  }

.promo--image__img-1,
.promo--image__img-2 {
	width: 50vw;
	box-shadow: 0 0 20px var(--azul);
	border-radius: 50%;
	border: 2px solid var(--gris);
}

.promo--image__parrafo {
	position: absolute;
	margin:0;
	top: 80%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: var(--azul);
	text-align: center;
	font-family: var(--angosta);
	font-size: 1.5rem;
	z-index: 10;
}

.promo--image__parrafo:hover {
	color: var(--violeta);
	/* text-shadow: 1px 1px 0px var(--rosa); */
	transform: scale(1.5);
	cursor: pointer;
	color:var(--violeta);
	transform: translate(-50%, -50%);
}

@media only screen and (min-width: 600px) {
	.promo--image__parrafo {
		font-size: 2rem;
	}

	.promo--image__parrafo:hover {
		font-size: 4rem;
	}
}

@media only screen and (min-width: 900px) {
	.promo {
		margin-top: 200px;
		flex-direction: row;
		justify-content: space-around;
	}

	.promo--image__img-1, .promo--image__img-2 {
		width: 25vw;
	}


	.promo--image__parrafo {
		font-size: 4rem;
	}
}
