.filter {
	width: 20vw;
	color: var(--violeta);
	font-size: 2rem;
	display: flex;
	flex-direction: column;
	align-items: flex-start;

	display: none;
}



.filter--button__collection,
.filter--button__price,
.filter--button__color,
.filter--button__size {
	background: none;
	border: none;
	color: var(--violeta);
	font-size: 2rem;
	margin-top: 20px;
}

.inactivo {
	display: none;
}

.filter--collections {
	font-size: 1.5rem;
}

ul {
	list-style-type: none;
}

li {
	font-size: 1rem;
}

a:hover {
	color: var(--azul);
}

.filter--price__rango {
	background-color: var(--azul);
	/* box-shadow: 0 0 10px black; */
	-webkit-appearance: none;
	outline: none;
}

/* input[type="range"]::-webkit-slider-runnable-track,
nput[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
	background-color: red;
	color: red;
}

input[name="price"] {
  -webkit-appearance: none;
	color: red;

	background-color: red;
} */

/* .filter--price__rango::-webkit-range-progress {
	background-color: var(--rosa);
	color: var(--rosa);
} */

input[type="range"] {
	overflow: hidden;
	width: 180px;
	-webkit-appearance: none;
	background-color: var(--violeta);
	border-radius: 10px;
}

input[type="range"]::-webkit-slider-runnable-track {
	height: 10px;
	-webkit-appearance: none;
	color: var(--azul);
	margin-top: 1px;
}

input[type="range"]::-webkit-slider-thumb {
	width: 10px;
	-webkit-appearance: none;
	height: 10px;
	cursor: ew-resize;
	background: var(--azul);
	box-shadow: -80px 0 0 80px var(--azul);
	border-radius: 10px;
}

.filter--color{
	display:flex;
	flex-direction: column;
}