.header {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin: 10px;
	border-bottom: 1px solid var(--violeta);
}

.header--title {
	font-family: var(--cursiva);
	color: var(--violeta);
	
	font-size: 2rem;
	z-index: 50;
}

.header--title:hover {
	color: var(--azul);
}

.header--login {
	display: flex;
	justify-content: space-around;
	align-items: center;
	display: none; /* ocultamos por el momento */
}

.header--login__avatar,
.header--login__shop {
	color: var(--violeta);
	display: none; /* ocultamos por el momento */
}

.header--login__shop {
	margin-top: 25px;
	display: none; /* ocultamos por el momento */
}

.header--login__button {
	font-size: 1rem;
	font-family: var(--angosta);
	margin: 0 10px 0;
	width: 80px;
	background-color: var(--gris);
	color: var(--azul);
	border: none;
	border-radius: 10px;
	padding: 10px;
	box-shadow: 0 0 10px var(--azul);
	z-index: 50;
}

.header--login__button:hover {
	background-color: var(--violeta);
	color: var(--gris);
	cursor: pointer;
	box-shadow: 0 0 10px var(--violeta);
}

.header--login__circulo {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--azul);
	width: 10px;
	height: 10px;
	border-radius: 50%;
	padding: 10px;
	color: var(--rosa);
	position: relative;
	top: -50px;
	right: -15px;
	font-family: var(--angosta);
}

.catriel {
	color: var(--violeta);
	font-weight: bold;
	text-shadow: 0 0 10px var(--gris);
}

@media only screen and (min-width: 600px) {
	.header--title {
		font-size: 3rem;
	}
}

@media only screen and (min-width: 900px) {
	.header--title {
		font-size: 4rem;
	}

	.header--login__button {
		width: 120px;
	}
}
