.header {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin: 10px;
	border-bottom: 1px solid var(--violeta);
}

.header--title {
	font-family: var(--cursiva);
	color: var(--violeta);
	text-shadow: 0 0 10px var(--gris);
	font-size: 1.8rem;
}

.header--title:hover {
	color: var(--azul);
}

.header--login {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.header--login__avatar,
.header--login__shop {
	color: var(--violeta);
}

.header--login__shop {
	margin-top: 25px;
}

.header--login__button {
	font-size: 0.9rem;
	margin: 0 10px 0;
	width: 80px;
	background-color: var(--gris);
	color: var(--azul);
	border: none;
	border-radius: 10px;
	padding: 10px;
	box-shadow: 0 0 10px var(--azul);
}

.header--login__button:hover {
	background-color: var(--violeta);
	color: var(--gris);
	cursor: pointer;
	box-shadow: 0 0 10px var(--violeta);
}

.header--login__circulo {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--azul);
	width: 10px;
	height: 10px;
	border-radius: 50%;
	padding: 10px;
	color: var(--rosa);
	position: relative;
	top: -50px;
	right: -15px;
}

.catriel {
	color: var(--violeta);
	font-weight: bold;
	text-shadow: 0 0 10px var(--gris);
}

@media only screen and (min-width: 600px) {
	/* For mobile phones: */
	.header--title {
		font-size: 3.5rem;
	}

	.header--login__button {
		width: 100px;
	}
}

@media only screen and (min-width: 900px) {
	.header--title {
		font-size: 4rem;
	}

	.header--menu {
		display: flex;
		margin: 0 0 0 20px;
	}

	.header--menu a {
		text-decoration: none;
	}

	.header--menu a:hover,
	.header--menu li:hover {
		cursor: pointer;
		color: var(--azul);
	}

	.header--menu li {
		color: var(--violeta);
		font-size: 1rem;
		list-style-type: none;
		margin-right: 15px;
	}

	.header--login__button {
		width: 120px;
	}
}
