.header--menu {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.header--menu li {
  margin: 5px;
  font-size: 1rem;
}

@media only screen and (min-width: 600px) {
	nav {
		position: absolute;
		width: 100vw;
		height: 100px;
		top: 0px;
	}

	
}
