header {
	display: flex;
	align-items: center;
	justify-content: space-around;
	border-bottom: 1px solid var(--violeta);
	width: 90vw;
	margin: auto;
}

h1 {
	font-family: var(--cursiva);
	color: var(--azul);
	font-size: 3rem;
}

h1:hover {
	color: var(--violeta);
}

ul {
	display: flex;
	justify-content: space-around;
}

a {
	text-decoration: none;
}

a:hover,
li:hover {
	cursor: pointer;
	color: var(--azul);
}

li {
	font-family: var(--fina);
	color: var(--violeta);
	font-size: 1rem;
	list-style-type: none;
	margin-right: 15px;
}

section {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 180px;
}

button {
	font-family: var(--angosta);
	font-size: 0.9rem;
	margin: 0 10px 0;
	width: 150px;
	background-color: var(--gris);
	color: var(--azul);
	border: none;
	border-radius: 10px;
	padding: 10px;
	box-shadow: 0 0 10px var(--azul);
}

button:hover {
	background-color: var(--violeta);
	color: var(--gris);
	cursor: pointer;
	box-shadow: 0 0 10px var(--violeta);

}

span {
	color: var(--violeta);
}

article {
	margin-top: 25px;
}

.circulo {
	background-color: var(--azul);
	width: 25px;
	height: 25px;
	border-radius: 50%;
	position: relative;
	top: -50px;
	right: -10px;
	color: var(--gris);
	font-weight: bold;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 1px;
}
