.register {
	margin: 50px auto;
	padding: 50px 0;;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 90vw;
	max-height: 90vh;
	background-image: url("../../assets/jericoacoara.jpg");
	background-size: cover;
	font-family: var(--fina);
}

.register--form {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	margin: auto;
}

label {
	color: var(--gris);

	font-weight: bold;
	font-size: 1.5rem;
	font-family: var(--fina);
}
.register--form__input {
	font-size: 1rem;
	color: var(--rosa);
	border-radius: 5px;
	background-color: var(--violeta);
	border: none;
	box-shadow: 0 0 10px var(--azul);
	padding: 10px;
	margin: 10px;
	outline: 1px solid var(--violeta);
	width: 50vw;
}

.area {
	height: 40vh;
}

.register--form__input:focus {
	outline: 5px solid var(--rosa);
}

::placeholder {
	color: var(--rosa);
}

.register--message {
	background-color: #d4edda; /* verde claro */
	color: #155724; /* verde oscuro */
	padding: 10px;
	border-radius: 5px;
	margin-bottom: 10px;
	text-align: center;
	font-weight: bold;
  }


  

.register--form__button {
	font-size: 1rem;
	font-family: var(--fina);
	margin: 10px auto 0;
	width: 200px;
	background-color: var(--gris);
	color: var(--azul);
	font-weight: bold;
	border: none;
	border-radius: 10px;
	padding: 10px;
	box-shadow: 0 0 10px var(--azul);
}

.register--form__button:hover {
	background-color: var(--violeta);
	color: var(--gris);
	cursor: pointer;
	box-shadow: 0 0 10px var(--violeta);
}

@media only screen and (min-width: 600px) {
	.register--form {
		margin: auto;
	}

	.register--form__input {
		width: 300px;
	}
}

@media only screen and (min-width: 900px) {
	.register--form__input {
		font-size: 1.5rem;
		width: 400px;
	}

	.register--form__button {
		font-size: 1rem;
	}
}
