.community {
	display: flex;
	flex-direction: column;
	margin: 50px auto;
}

.community--title {
	font-size: 2rem;
	color: var(--violeta);
	text-align: center;
}

.link {
	color: var(--violeta);
	font-size: 1.5rem;
}

.community--cards {
	display: flex;
	flex-direction: column;
	width: 90vw;
	margin: 30px auto;
}

.community--cards__col-1 {
	display: grid;
	grid-template-areas:
		"a b c"
		"d d e"
		"d d f";
	grid-gap: 5px;
}

.community--cards__col-2 {
	display: grid;
	grid-template-areas:
		"g h i"
		"j k k"
		"l k k";
	grid-gap: 5px;
	margin-top: 5px;
}

.a {
	grid-area: a;
	width: 100%;
	height: 100%;
}

.b {
	grid-area: b;
	width: 100%;
	height: 100%;
}
.c {
	grid-area: c;
	width: 100%;
	height: 100%;
}

.d {
	grid-area: d;
	width: 100%;
	height: 100%;
}

.e {
	grid-area: e;
	width: 100%;
	height: 100%;
}
.f {
	grid-area: f;
	width: 100%;
	height: 100%;
}
.g {
	grid-area: g;
	width: 100%;
	height: 100%;
}
.h {
	grid-area: h;
	width: 100%;
	height: 100%;
}
.i {
	grid-area: i;
	width: 100%;
	height: 100%;
}
.j {
	grid-area: j;
	width: 100%;
	height: 100%;
}
.k {
	grid-area: k;
	width: 100%;
	height: 100%;
}
.l {
	grid-area: l;
	width: 100%;
	height: 100%;
}

@media only screen and (min-width: 900px) {
	.community--cards {
		flex-direction: row;
		justify-content: center;
	}

	.community--cards__col-1,
	.community--cards__col-2 {
		margin: 2.5px;
	}

	.community--cards__col-1 {
		grid-template-areas:
			"a b b"
			"c b b"
			"d e f";
	}

	.community--cards__col-2 {
		grid-template-areas:
			"g h i"
			"j k k"
			"l k k";
	}
}
