.contact {
	width: 90vw;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	color: var(--violeta);
}

.contact--contact-1,
.contact--contact-2 {
	margin: auto;
	text-align: center;
}

.contact--info__anchor {
	display: flex;
	flex-direction: column;
}

.contact--menu {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	width: 90vw;
	justify-content: center;

}

.contact--redes__title {
	text-align: center;
}

.contact--redes__lists {
	display: flex;
	gap: 20px;
	text-decoration: none;
	justify-content: center;
}

.contact--redes__facebook,
.contact--redes__instagram,
.contact--redes__youtube {
	list-style-type: none;
}

.contact--redes__by {
	margin: 20px;
	text-align: center;
}

.contact--redes__by a {
	text-decoration: none;
}

a {
	cursor: pointer;
	text-shadow: 0 0 10px var(--gris);
}

a:hover {
	color: var(--azul);
}

@media only screen and (min-width: 600px) {
	.contact {
		display: grid;

		grid-template-areas:
			"contact1 contact2 menu "
			"redes redes redes";
	}

	.contact--contact-1 {
		grid-area: contact1;
		text-align: start;
	}

	.contact--contact-2 {
		grid-area: contact2;
		text-align: start;

	}

	.contact--menu {
		display: grid;
		grid-area: menu;
		width: 100%;
	}

	.contact--redes {
		grid-area: redes;
		/* display: flex;
		justify-content: space-between; */
		width: 90vw;
	}
}
