.contact {
	width: 90vw;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	color: var(--violeta);
	
}

.contact--info-1 p {
	font-size: 1rem;
}

.contact--contact-1,
.contact--contact-2 {
	margin: auto;
	text-align: center;
}

.contact--info__anchor {
	display: flex;
	flex-direction: column;
}

.contact--menu {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	width: 90vw;
	justify-content: center;

}

.contact--redes {
	width: 90vw;
}

.contact--redes__title {
	text-align: center;
}

.contact--redes__lists {
	display: flex;
	gap: 20px;
	text-decoration: none;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	
}



.contact--redes__facebook,
.contact--redes__instagram,
.contact--redes__youtube {
	list-style-type: none;
}

.contact--redes__by {
	margin: 20px;
	text-align: center;
}

.contact--redes__by a {
	text-decoration: none;
}

a {
	cursor: pointer;
	text-shadow: 0 0 10px var(--gris);
	color: var(--violeta);
	margin: 10px;
	font-size: 1.5rem;
}

a:hover {
	color: var(--azul);
}

.contact--links {
	display: flex;
	flex-direction: column;
}

.contact--copyright {
	margin:auto;
	display: flex;
	justify-content: center;
	align-items: center;
	align-items: center;
	text-align: center;
}

/* @media only screen and (min-width: 600px) {
	.contact {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		place-self: center;
		margin: auto;
		background-color: aqua;
	}

	
}
*/