:root {
	--violeta: #bf92b4;
	--rosa: #ffddc4;
	--gris: #eaebeb;
	--celeste: #03c9d4;
	--azul: #016aa1;

	--cursiva: "Style Script";
	--angosta: Oswald;
	--fina: Roboto;

	--ha1: Gwendolyn;
	--ha2: Ubuntu;
	--ha3: Lato;

	--hb1: "Corinthia";
	--hb2: "Bebas Neue";
	--hb3: Montserrat;
}

* {
	margin: 0;
	padding: 0;
	font-family: Ubuntu;
	box-sizing: content-box;
}
