:root {
	--violeta: #c2855d;
	--rosa: #ebe07e;
	--gris: #bde9e9;
	--celeste: #3cbfc4;
	--azul: #0f8888;

	--celesteOpacity: #3cbfc433;

	--cursiva: "Style Script";
	--angosta: Oswald;
	--fina: Roboto;

	--ha1: Gwendolyn;
	--ha2: Ubuntu;
	--ha3: Lato;

	--hb1: "Corinthia";
	--hb2: "Bebas Neue";
	--hb3: Montserrat;
}

* {
	margin: 0;
	padding: 0;
	font-family: Ubuntu;
	box-sizing: content-box;
	text-decoration: none;
}
